{% extends 'dashboard_base.html' %}

{% block dash-content %}
    <h2 class="page-header">Instances</h2>

    <table class="table table-striped">
        <tr>
            <th> Instance Name</th>
            <th> Instance Up time</th>
            <th> Floating ip </th>
            <th> Ram </th>
            <th> Os </th>
            <th> Hdd </th>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

{% endblock %}