{% extends 'dashboard_base.html' %}

{% block dash-content %}
    <h2 class="page-header">Instances</h2>

    <table class="table table-striped">
        <tr>
            <th> Instance Id</th>
            <th> Instance Name</th>
            <th> Status </th>
            <th> Flavor</th>
            <th> Floating ip</th>
            <th> Options</th>
        </tr>

        {% for instance in instance_list %}
            <tr>
                <td> {{ instance.instance_id }} </td>
                <td> {{ instance.name }} </td>
                <td> {{ instance.status }} </td>
                <td> RAM : {{ instance.RAM }} ; HDD : {{ instance.Disk }} </td>
                <td> {{ instance.floating_ip }} </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/vnc/?instanceid={{ instance.instance_id }}">View Console </a></li>
                            <li><a href="/stop/?instanceid={{ instance.instance_id }}">Stop Instance</a></li>
                            <li><a href="/start/?instanceid={{ instance.instance_id }}">Start Instance</a></li>
                            <li class="divider"></li>
                            <li><a href="/terminate/?instanceid={{ instance.instance_id }}">Terminate</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}